[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network-online.target remote-fs.target nss-lookup.target rnd.service
Wants=network-online.target

[Service]
Type=forking
PIDFile=/run/nginx.pid
ExecStartPre=/opt/nginx/sbin/nginx -c /opt/rnd/nginx.conf -t
ExecStart=/opt/nginx/sbin/nginx -c /opt/rnd/nginx.conf
ExecReload=/opt/nginx/sbin/nginx -c /opt/rnd/nginx.conf -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target